[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.63.0"
uvicorn = "==0.13.4"
sqlalchemy = "==1.4.20"
mysqlclient = "==2.0.3"
mysql-connector-python = "==8.0.25"

[dev-packages]

[requires]
python_version = "3.9"
